body {
	margin: 0;
	background: #f6f7f6;
}

@font-face {
	font-family: "Captureit";
	src: url(../font/Captureit.ttf);
}
@font-face {
	font-family: "LifehackBasic";
	src: url(../font/LifehackBasic.otf);
}
@font-face {
	font-family: "RobotoBlack";
	src: url(../font/RobotoBlack.ttf);
}
@font-face {
	font-family: "RobotoBold";
	src: url(../font/RobotoBold.ttf);
}
@font-face {
	font-family: "RobotoLight";
	src: url(../font/RobotoLight.ttf);
}
@font-face {
	font-family: "RobotoRegular";
	src: url(../font/RobotoRegular.ttf);
}
@font-face {
	font-family: "RobotoThin";
	src: url(../font/RobotoThin.ttf);
}


/*======================= ПЕРВЫЙ БЛОК И HEADER ==========================*/
#main {
	background: url(../images/main-bg.png);
	height: 908px;
	background-position: center;/**Размещаю по центру фоновую картинку при любом размере картинка центрируется**/
}

#header {
	width: 1170px;/**Ширина блока**/
	margin: 0 auto;/**Выравниваем блок по центру**/
	display: flex;/**Размещение элементов в строку**/
	justify-content: space-between;/**Сделаем внутри элементы по центру, но первый и послений привязаны по краям**/
	align-items: center;/**Что бы элементы были по ентру по высоте**/
}

#logo span {
		font-size: 30px;
		font-family: "Captureit", sans-serif;
		color: rgb(254, 254, 254);
		line-height: 1.8;
}

#menu ul {
	display: flex;/**Чтобы наши ссылки отображались в одну строку**/
	justify-content: space-between;/**Чтобы разнести элементы по краям, а также отступы друг от друга**/
	width: 580px;/**Задаю ширину блоку со ссылками из макета**/
}

#menu ul li:first-child {
	list-style: none;/**Удаляю лишнюю точку слева от Главная**/
}

#menu ul li {
	font-size: 16px;
	font-family: "RobotoRegular", sans-serif;
	color: rgb(255, 255, 255);
	font-weight: bold;
	line-height: 3.375;
}

#menu ul li a {
	text-decoration: none;/**Убрал нижнее подчеркивание ссылок**/
	color: rgb(255, 255, 255);
}

#menu ul li.active a {
	font-family: "RobotoBold", sans-serif;
}

.btn-white {
	border-width: 1px;
	border-color: rgb(255, 255, 255);
	border-style: solid;
	border-radius: 10px;
	width: 207px;
	height: 48px;
	font-size: 13px;/**Ниже пошли стили скопированные с текста внутри кнопки**/
	font-family: "RobotoRegular", sans-serif;
	color: rgb(254, 254, 254);
	font-weight: bold;
	text-transform: uppercase;
	line-height: 2.308;
	text-align: center;
	background: transparent;/**Прозрачный фон кнопке**/
	outline: none;/**Уберу фокус с кнопки при нажатии**/
	cursor: pointer;/**Добавил руку при наведении на кнопку**/
} 

.btn-white:hover {
	border-color:#f6a501;/**Эффект при наведении цвет рамки кнопки**/
	color: #f6a501;/**Эффект при наведении цвет текста кнопки**/
}

#titles {
	width: 1170px;/**Ограничиваю блок по ширине, согласно макета**/
	margin: 60px auto 0 auto;/**Выравниваю блока, согласно макета**/
}

#title-burgers {
	width: 600px;
	height: 130px;
	background: url(../images/stamp.png);/**Картинка рамки штамп**/
	background-size: 100% 100%;/**Чтобы картинка штамп занимала весь блок**/
	font-size: 55px;/**Ниже пошли стили скопированные с текста внутри рамки штамп**/
	font-family: "Captureit", sans-serif;
	color: rgb(246, 165, 1);
	text-shadow: 0px 0px 91.16px rgba(2, 7, 8, 0.004);
	text-align: center;/**Выравнивание текста внутри штамп по центру**/
	line-height: 130px;/**По высоте выравнивание текста внутри блока штамп, согласно высоте самого блока**/
}

.btn-yellow {
	font-size: 15px;/**Ниже все перечисленные стили из макета - папка с кнопкой**/
	font-family: "RobotoRegular", sans-serif;
	color: rgb(0, 0, 0);
	text-transform: uppercase;
	line-height: 2;
	text-align: center;
	border-radius: 10px;
	background-image: -moz-linear-gradient( 180deg, rgb(255,199,59) 0%, rgb(235,161,0) 100%);
	background-image: -webkit-linear-gradient( 180deg, rgb(255,199,59) 0%, rgb(235,161,0) 100%);
	background-image: -ms-linear-gradient( 180deg, rgb(255,199,59) 0%, rgb(235,161,0) 100%);
	width: 209px;
	height: 50px;
	margin-top: 60px;/**Внешний отступ сверху от кнопки до штампа**/
	outline: none;/**Чтобы убрать фокус с кнопки**/
	border: 0;/**Убрать рамку от браузера**/
}

.btn-yellow:hover {
	box-shadow: 0px 0px 13.5px 1.5px rgba(204, 142, 6, 1);/**Прозрачность с макета была 0.004, я заменил на 1, чтобы было видно**/
	cursor: pointer;
}

#title-text {
	font-size: 40px;
	font-family: "LifehackBasic", sans-serif;
	color: white;
	line-height: 1;
	text-align: left;
	text-shadow: 0px 0px 14.25px rgba(2, 7, 8, 0.004);
	-moz-transform: matrix( 0.99320644518279,-0.11636561883718,0.11636561883718,0.99320644518279,0,0);/**Отвечает за наклон текста (кроссбраузерность)**/
	-webkit-transform: matrix( 0.99320644518279,-0.11636561883718,0.11636561883718,0.99320644518279,0,0);/**Отвечает за наклон текста (кроссбраузерность)**/
	-ms-transform: matrix( 0.99320644518279,-0.11636561883718,0.11636561883718,0.99320644518279,0,0);/**Отвечает за наклон текста (кроссбраузерность)**/
	margin-top: 35px;/**Добавляю внешний отступ сверху от текста до кнопки**/
}

#title-text span {
	color: rgb(246, 166, 1);
}


/*======================= ВТОРОЙ БЛОК ==========================*/
#features {
	display: flex; /**Чтобы это был флекс контейнер**/
	justify-content: space-between;
	width: 1170px;
	margin: 0 auto;/**Выравнивание блока по центру**/
	flex-wrap: wrap;/**Свойство переноса элементов флекс контейнера**/
}

#features .feature {
	width: 390px;/**Так как хочу разместить в строку 3 элемента,то нужно ограничить их по ширине.Раз макет 1170px:3=390px**/
	text-align: center;/**Выравнивание текста по центру**/
	margin-bottom: 20px;
	margin: 25px 0;
}

#features .feature .feature-image {
	margin: 0 auto 20px auto;/**Выравниваю картинку по центру внутри блока**/
	width: 96px;/**Задам фиксированную ширину картинки**/
	height: 79px;/**Задам фиксированную высоту картинки**/
	display: flex;
	justify-content: center;
	align-items: center;
}

#features .feature .feature-title {
		font-size: 20px;
		font-family: "RobotoBold", sans-serif;
		color: rgb(51, 23, 3);
		margin-bottom: 20px;
}

#features .feature .feature-text {
		font-size: 18px;
		font-family: "RobotoLight", sans-serif;
		color: rgb(51, 23, 3);
		line-height: 1.222;
		text-align: center;
}


/*======================= ТРЕТИЙ БЛОК ==========================*/
#desription {
	height: 999px;/**Посмотрел размер высоту фоновой картинки (такую же и задал)**/
	background: url(../images/BgBlock3.png);
	background-position: center;/**Отображение фоновой картинки по центру**/
}

.block-title {
	font-size: 35px;
	font-family: "RobotoBold",sans-serif;
	color: rgb(246, 165, 1);
	text-transform: uppercase;
	text-align: center;
	margin: 0;/**Сбрасываю стандартные отступы браузера**/
}

#desription .block-title {
	padding-top: 200px;/**Задаю отступ сверху от блока 2 до блока 1(margin не подошел,поэтому использую padding)**/
}

#desription-container {
	display: flex;/**Делаю блок флексовым для удобства работы с ним**/
	width: 1170px;/**Ширина блока**/
	margin: 0 auto;/**Выравнивание по центру**/
}

#desription-text #desription-text-title {
	font-size: 30px;
	font-family: "LifehackBasic", sans-serif;
	color: rgb(254, 254, 254);
	line-height: 1.167;
	margin: 115px 0 45px 0;/**45px взял чуть меньше,чем в макете,так как ранее для блока с текстом задал 15px**/
}

#desription-text .desription-text-words {
	font-size: 16px;
	font-family: "RobotoLight", sans-serif;
	color: rgb(254, 254, 254);
	line-height: 1.563;
	text-indent: 20px;
	margin: 15px 0;/**По макету отступ снизу 30px,но я добавлю равные отступы сверху и снизу по 15px**/
}

#desription-text {
	max-width: 420px;/**Задаю фиксированную ширину дл блока с текстом**/
}


/*======================= ЧЕТВЕРТЫЙ БЛОК ==========================*/
#stock {
	width: 1170px;
	margin: 0 auto;/**Выравнивание по центру**/
}

#stock .block-title {
	margin: 70px auto 45px auto;
	color: rgb(51, 23, 3);
}

#stock #category-container {
	display: flex;
	justify-content: center;
	margin: 30px auto;
}

#stock .category {
	font-size: 20px;
	font-family: "RobotoLight", sans-serif;
	color: rgb(51, 23, 3);
	text-align: center;
	border: 1px solid transparent;/**Задам не активным элементам прозрачную рамку вокруг текста**/
	margin: 0 10px;/**Внешние отступы от края рамки с тектом по сторонам по 10px**/
	padding: 10px 15px;/**Внутренние отступы внутри рамки (от текста до рамки)**/
	border-radius: 10px;
} 

#stock .category.active {
	border: 1px solid rgb(51, 23, 3);
	font-family: "RobotoBold", sans-serif;
}

#stock .category:hover {
	border: 1px solid rgb(51, 23, 3);
	cursor: pointer;
}

.products {
	width: 1170px;/**Задаю ширину всему блоку**/
	margin: 0 auto;/**Выравнивание по центру блока**/
}

.products .product {
	display: flex;
	justify-content: space-between;/**Чтобы внутренние элементы разносились по сторонам с отступами м/у ними**/
}

.products .product .product-image {
	width: 580px;
	height: 450px;
	text-align: center;/**Выравнивание внутреннего блока по центру(для строчных элементов,а картинка у меня строчная)**/
	display: flex;/**Чтобы наш блок был флексовым**/
	justify-content: center;/**Чтобы наши картинки не прыгали,а были по центру внутри блока**/
	align-items: center;/**Чтобы наши картинки не прыгали,а были по центру внутри блока**/
}

.products .product .product-image img {
	max-height: 100%;/**Чтобы картинка не выходила за размеры родительского блока**/
	max-width: 100%;/**Чтобы картинка не выходила за размеры родительского блока**/
}

.products .product .product-content {
	width: 500px;/**Задаю фиксированную ширину для блока**/
}

.products .product .product-content .product-content-title {
	font-size: 25px;
	font-family: "RobotoBold", sans-serif;
	color: rgb(51, 23, 3);
	text-transform: uppercase;
	margin: 100px 0 35px 0;
}

.products .product .product-content .product-content-description {
	font-size: 16px;
	font-family: "RobotoLight", sans-serif;
	color: rgb(51, 23, 3);
	line-height: 25px;
	margin-bottom: 50px;
}

.products .product .product-content-properties {
	display: flex;
}

.products .product .product-content-property:first-child {
	margin-right: 80px;/**Отступ справа применим только к первому элементу(ко второму применен не будет)**/
}

.products .product .product-content-property img {
	margin-right: 10px;
}

.products .product .product-content-property span {
	font-size: 20px;
	font-family: "RobotoLight", sans-serif;
	color: rgb(51, 23, 3);
}

.products-nav {
	display: flex;
	margin-bottom: 95px;/**Отступ снизу от меню картинок до следующего блока с фоном**/
	margin-top: 10px;
}

.products-nav .product-nav {
	width: 75px;/**Задам фиксированную ширину для блока меню с картинками бургеров**/
	height: 75px;/**Задам фиксированную высоту для блока меню с картинками бургеров**/
	display: flex;
	align-items: center;/**Выравнивание по вертикали**/
	margin-right: 15px;
	opacity: 0.3;/**Добавляю прозрачность в 30% для не выбранных бургеров**/
}

.products-nav .product-nav.slick-current {
	opacity: 1;/**Убираю прозрачность для выбранного бургера**/
}

.products-nav .product-nav:hover {
	cursor: pointer;/**Эффект появления руки при наведении**/
	opacity: 1;/**Убираю прозрачность для выбранного бургера**/
}

.products-nav .product-nav img {
	max-width: 100%;/**Задам максимальную ширину,чтобы картинка бургера не превышала ширину родительского блока**/
	max-height: 100%;/**Задам максимальную высоту,чтобы картинка бургера не превышала высоту родительского блока**/
}

.products-nav .product-nav:focus {
	outline: 0;/**Убираю синюю полосу при фокусе на объект,который ставит браузер**/
}

.slick-slide img {
	display: inline;/**Пытаемся исправить карусель от slick,т.к.по умолчанию ставить нашим элементам display:block**/
}

#stock .slick-prev:before {
	content: url(../images/next-left.png);/*Добавляю картинку стрелки - заменяя предложенной от click*/
} 

#stock .slick-next:before {
	content: url(../images/next-right.png);/*Добавляю картинку стрелки - заменяя предложенной от click*/
}

#stock .slick-next {
	left: 600px;/*Смещаю правую стрелку влево*/
}

#fries-container, #sauces-container, #drinks-container {
	display: none;/**По умолчанию скрою элементы с фри картошкой,соусами и напитками**/
}


/*======================= ПОСЛЕДНИЙ БЛОК ==========================*/
#info {
	background: url(../images/bg-footer.png);
	background-position: top center;/**Фоновая картинка по вертикали была сверху,а по горизонтали по центру**/
	padding: 1px 0;/**Добавляем по 1px сверху и сниху из-за склеивания отступов**/
}

#info .block-title {
	margin: 130px 0 60px 0;
}

#reviews {
	display: flex;/**Сделаем флексовым блок,т.к. имеется два элемента**/
	justify-content: space-around;
	width: 1170px;
	margin: 0 auto;/**Выравнивание по центру**/
}

#reviews .review {
	display: flex;
	align-items: flex-start;/**Выравнивание по высоте сверху**/
	margin: 0 50px;
	justify-content: space-between;/**Чтобы наши элементы разнеслись по сторонам с равными отступами**/
	outline: 0;/**Убираю синюю рамку от браузера**/
}

#reviews .review  .review-image {
	border-radius: 50%;/**Закругляем нашу картинку**/
	width: 112px;/**Так как картинку сделали круглой,то нужно ограничить высоту и ширину**/
	height: 112px;/**Так как картинку сделали круглой,то нужно ограничить высоту и ширину**/
	overflow: hidden;/**Чтобы картинка внутри не обрезалась и не выходила за рамки блока,мы скрываем внутреннее содержимое,которое вылазит за рамки блока**/
	background-size: cover;
	background-position: center;/**Чтобы картинка аватара в отзыве была по центру**/
}

#reviews .review .review-text {
	width: 325px;
}

#reviews .review .review-text .review-text-title {
	font-size: 20px;
	font-family: "RobotoBold", sans-serif;
	color: rgb(254, 254, 254);
	text-transform: uppercase;/**Верхний регистр**/
	margin-bottom: 35px;
}

#reviews .review .review-text .review-text-description {
	font-size: 16px;
	font-family: "RobotoLight", sans-serif;
	color: rgb(254, 254, 254);
	line-height: 25px;/**Межстрочный интервал**/
}

#addresses {
	width: 1170px;
	margin: 0 auto;
}

#addresses .block-title {
	margin: 150px 0 60px 0;
}

#addresses-container {
	display: flex;
	justify-content: center;
}

#addresses-container .address-container {
	border-width: 1px;
	border-color: rgb(255, 255, 255);
	border-style: solid;
	border-radius: 10px;
	padding: 15px;/**Так как у нас 2 рамки, то с внешней рамки делаем отступ до внутренней рамки**/
	margin: 0 15px;/**Внешний отступ справа и слева у двух рамок**/
}

#addresses-container .address-container .address {
	border-width: 1px;
	border-color: rgb(255, 255, 255);
	border-style: solid;
	border-radius: 10px;
	width: 470px;
}

#addresses-container .address-container .address .address-text {
	margin-top: 25px;
	text-align: left;
	padding: 0 90px;
}

#addresses-container .address-container .address .address-text img {
	vertical-align: middle;/**Выравниваем иконки со спаном**/
}

#addresses-container .address-container .address .address-text span {
	font-size: 20px;
	font-family: "RobotoBold", sans-serif;
	color: rgb(247, 246, 246);
	margin-left: 15px;
	vertical-align: middle;/**Выравниваем спана с иконками**/
}

#addresses-container .address-container .address .address-button {
	margin: 40px auto 25px auto;
	text-align: center;
}

#instagram {
	margin: 85px auto;/**Чтобы по ширине он центрировался**/
	width: 1170px;
	text-align: center;
}

#instagram a {
	text-decoration: none;/**Убираю у ссылки нижнее подчеркивание**/
	cursor: pointer;/**Эффект руки при наведении**/
}

#instagram-text {
	font-size: 20px;
	font-family: "RobotoBlack", sans-serif;
	color: rgb(246, 165, 1);
	text-transform: uppercase;
	margin-top: 35px;
}

#reviews .slick-prev:before {
	content: url(../images/prev-grey.png);/*Добавляю картинку стрелки - заменяя предложенной от click*/
} 

#reviews .slick-next:before {
	content: url(../images/next-gray.png);/*Добавляю картинку стрелки - заменяя предложенной от click*/
}

#footer {
	background-color: rgb(18, 8, 1);
	height: 60px;
	width: 100%;/**Чтобы блок футера был всегда на всю ширину экрана**/
	font-size: 10px;/**Ниже идут стили для текста в футере**/
	font-family: "RobotoThin", sans-serif;
	color: rgb(188, 188, 188);
	text-transform: uppercase;
	text-align: center;/**Чтобы текст был по центру по горизонтали**/
	line-height: 60px;/**Чтобы текст был по центру по вертикали**/
}


/*======================= ВСПЛЫВАЮЩЕЕ ОКНО С ОТПРАВКОЙ ДАННЫХ ==========================*/
#reservation-container {
	position: fixed;/**Фиксированное позиционирование**/
	width: 100%;
	height: 100%;
	left: 0;/**Чтобы отображалась в начале экрана**/
	top: 0;/**Чтобы отображалась в начале экрана**/
	background: rgba(0, 0, 0, 0.91);/**Черному цвету прозрачность фона 90%**/
	z-index: 9999;
	/* display: flex; */
	justify-content: center;
	align-items: center;
	display: none;/**По умолчанию скрываем данный блок**/
}

#reservation {
	border-style: solid;
	border-width: 1px;
	border-color: rgb(63, 63, 63);
	border-radius: 10px; 
	background-color: transparent;/**Прозрачный фон**/
	box-shadow: 0px 0px 40.67px 8.33px rgba(2, 7, 8, 1);/**Тень**/
	width: 584px;
	padding: 45px 35px 70px 35px;
	position: relative;/**Делаю относительное позиционирования для удобства выравнивания крестика**/
	box-sizing: border-box;/**С помощью него включим в нашу ширину наши педдинги**/
}

#reservation #reservation-cancel {
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
}

#reservation h2.block-title {
	font-size: 25px;
}

#reservation #reserve {
	margin: 30px 0 45px 0;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

#reservation .reserve-input {
	margin-top: 15px;
}

#reservation .reserve-input label{
	font-size: 11px;
	font-family: "RobotoRegular", sans-serif;
	color: rgb(255, 255, 255);
	margin-left: 20px;
	line-height: 22px;
}

#reservation .reserve-input input {
	border-width: 1px;
	border-color: rgb(255, 255, 255);
	border-style: solid;
	border-radius: 10px;
	width: 248px;
	height: 38px;
	background: transparent;/**Прозрачный фон**/
	color: white;
	outline: 0;/**Чтобы браузер не добавлял никаких рамок при фокусе**/
	padding: 12px 20px;
	box-sizing: border-box;
}

#reservation #reserve-error {/**Добавили данный блок,чтобы при неполном заполнении данных выводилось окно с текстом**/
	color: red;
	font-size: 18px;
	text-align: center;
	width: 100%;
	margin: 10px;
	display: none;
}

#reservation #reserve-button {
	text-align: center;
}

#reservation #reserve-button button {
	margin-top: 0;
}

#reservation #reservation-sent {
	display: none;/**По умолчанию скрываем блок**/
}

#reservation #reservation-sent h2.block-title {
	margin-top: 95px;
	font-size: 25px;
	font-family: "RobotoBold", sans-serif;
	color: rgb(246, 165, 1);
	text-transform: uppercase;
	text-align: center;
}

#reservation #reservation-sent #reservation-sent-text {
	font-size: 15px;
	font-family: "RobotoRegular", sans-serif;
	color: rgb(255, 255, 255);
	text-align: center;
	margin: 35px 0 110px 0;
}

#show-menu a.btn-yellow {
	text-decoration: none;/**Убираю нижнее подчеркивание**/
	display: block;/**Чтобы элемент был блочным, а не строчным**/
	line-height: 50px;/**Чтобы текст по вертикали был центрирован**/
}

#burger {
	display: none;
	color: white;
	font-size: 32px;
	line-height: 30px;
}
